<div>

    <h2>Consumptions</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveConsumptionModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Consumption
    </button>
    <div class="modal fade" id="saveConsumptionModal" tabindex="-1" role="dialog" aria-labelledby="myConsumptionLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myConsumptionLabel">Create or edit a Consumption</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="consumption.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Goodie</label>
                            <input type="text" class="form-control"
                                   ng-model="consumption.goodie">
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" class="form-control"
                                   ng-model="consumption.quantity">
                        </div>
                        <div class="form-group">
                            <label>Datetime</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="consumption.datetime">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Goodie</th>
                    <th>Quantity</th>
                    <th>Datetime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consumption in consumptions">
                    <td>{{consumption.id}}</td>
                    <td>{{consumption.goodie}}</td>
                    <td>{{consumption.quantity}}</td>
                    <td>{{consumption.datetime}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(consumption.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(consumption.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
