<div>

    <h2>Goodies</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveGoodieModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Goodie
    </button>
    <div class="modal fade" id="saveGoodieModal" tabindex="-1" role="dialog" aria-labelledby="myGoodieLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myGoodieLabel">Create or edit a Goodie</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="goodie.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>category</label>
                            <input type="text" class="form-control" name="test"
                                   ng-model="goodie.category">
                        </div>
                        <div class="form-group">
                            <label>name</label>
                            <input type="text" class="form-control" name="test"
                                   ng-model="goodie.name">
                        </div>
                        <div class="form-group">
                            <label>price</label>
                            <input type="text" class="form-control" name="test"
                                   ng-model="goodie.price">
                        </div>
                        <div class="form-group">
                            <label>quantity</label>
                            <input type="number" class="form-control" name="test"
                                   ng-model="goodie.quantity">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>category</th>
                    <th>name</th>
                    <th>price</th>
                    <th>quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="goodie in goodies">
                    <td>{{goodie.id}}</td>
                    <td>{{goodie.category}}</td>
                    <td>{{goodie.name}}</td>
                    <td>{{goodie.price}}</td>
                    <td>{{goodie.quantity}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(goodie.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(goodie.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
