<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Üdv a Keret-ben!</h1>
            <p class="lead">Ez itt a fő képernyő</p>

            <div ng-switch="authenticated">
                <div class="alert alert-success" ng-switch-when="true">
                    Be vagy jelentkezve "{{account.login}}"-ként.
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    Ha be akrsz<a href="#/login">jelentkezni</a>, megpróbálhatod az alap login="admin" jelszó="admin" párost.
                </div>

                <div class="alert alert-warning" ng-switch-when="false" >
                    Regisztrálnál inkább? <a href=\"#/register\">Regisztráció</a>
                </div>
            </div>

            <p>
                Keret Klub : Klub Tér
            </p>

        </div>
    </div>
</div>
