<div>

    <h2>Members</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveMemberModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Member
    </button>
    <div class="modal fade" id="saveMemberModal" tabindex="-1" role="dialog" aria-labelledby="myMemberLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myMemberLabel">Create or edit a Member</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="member.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Firstname</label>
                            <input type="text" class="form-control"
                                   ng-model="member.firstname">
                        </div>
                        <div class="form-group">
                            <label>Lastname</label>
                            <input type="text" class="form-control"
                                   ng-model="member.lastname">
                        </div>
                        <div class="form-group">
                            <label>Placeofbirth</label>
                            <input type="text" class="form-control"
                                   ng-model="member.placeofbirth">
                        </div>
                        <div class="form-group">
                            <label>Timeofbirth</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="member.timeofbirth">
                        </div>
                        <div class="form-group">
                            <label>Mothersname</label>
                            <input type="text" class="form-control"
                                   ng-model="member.mothersname">
                        </div>
                        <div class="form-group">
                            <label>Taxid</label>
                            <input type="text" class="form-control"
                                   ng-model="member.taxid">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control"
                                   ng-model="member.email">
                        </div>
                        <div class="form-group">
                            <label>Phonenumber</label>
                            <input type="text" class="form-control"
                                   ng-model="member.phonenumber">
                        </div>
                        <div class="form-group">
                            <label>Memberid</label>
                            <input type="text" class="form-control"
                                   ng-model="member.memberid">
                        </div>
                        <div class="form-group">
                            <label>Nfckey</label>
                            <input type="text" class="form-control"
                                   ng-model="member.nfckey">
                        </div>
                        <div class="form-group">
                            <label>Balance</label>
                            <input type="text" class="form-control"
                                   ng-model="member.balance">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Placeofbirth</th>
                    <th>Timeofbirth</th>
                    <th>Mothersname</th>
                    <th>Taxid</th>
                    <th>Email</th>
                    <th>Phonenumber</th>
                    <th>Memberid</th>
                    <th>Nfckey</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in members">
                    <td>{{member.id}}</td>
                    <td>{{member.firstname}}</td>
                    <td>{{member.lastname}}</td>
                    <td>{{member.placeofbirth}}</td>
                    <td>{{member.timeofbirth}}</td>
                    <td>{{member.mothersname}}</td>
                    <td>{{member.taxid}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.phonenumber}}</td>
                    <td>{{member.memberid}}</td>
                    <td>{{member.nfckey}}</td>
                    <td>{{member.balance}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(member.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(member.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
